
.main-container {
  margin-top: 2vh;
  padding-bottom: 2vh;
}

svg {
  border: 1px solid blue;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

body {
  margin-bottom: 24px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px; /* Set the fixed height of the footer here */
}
